<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.once.test">

    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activity.TestVideoActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activity.TestPickImgActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name=".provider.MyContentProvider"
            android:authorities="com.once.test.provider"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".activity.TestSharedPreferencesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestFileActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ChatActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestBroadcastActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TestAsyncTaskActivity" />
        <activity
            android:name=".activity.TestParseXmlActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".network.TestOppoPushActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestWebViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestMediaPlayerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestTakePhotoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestViewPagerFourActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestViewPagerThreeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestViewPageTwoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestHandlerActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestLifeCycleTwoActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestLifeCycleOneActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestViewPageActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestRecycleViewActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.TestFragmentDynamicActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.TestFragmentActivity" />
        <activity
            android:name=".activity.TestCollapsingToolbarActivity"
            android:label="CollapsingToolbar"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".activity.TestDrawLayoutActivity"
            android:label="DrawLayout"
            android:theme="@style/ActivityTheme" />
        <activity
            android:name=".activity.TestToolbarActivity"
            android:label="Hello"
            android:theme="@style/ActivityTheme" />

        <service
            android:name=".service.ForegroundService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".network.TestMqttActivity"
            android:label="@string/title_activity_mqtt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".testhread.TestThreadPoolActivity" />
        <activity android:name=".designmode.SingleInstanceModeActivity" />
        <activity android:name=".eventbus.TestEventBus2Activity" />
        <activity android:name=".sample.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".provider.TestContactProviderActivity" />
        <activity android:name=".network.TestHttpUrlActivity" />
        <activity android:name=".network.TestVolley" />
        <activity android:name=".network.TestOkhttpActivity" />
        <activity android:name=".testretrofit.TestRetrofitActivity" />
        <activity
            android:name=".eventbus.TestEventBusActivity"
            android:label="@string/title_activity_test_event_bus" />
        <activity
            android:name=".math.TestXfmodeActivity"
            android:label="@string/title_activity_test_xfmode"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".math.TestCanvasActivity" />
        <activity android:name=".math.TestMatrixActivity" />
        <activity android:name=".activity.TestSqlActivity" />
        <activity android:name=".activity.TestPermissionActivity" />
        <activity android:name=".activity.TestServiceActivity" />
        <activity android:name=".activity.TestCustomProviderActivity" />
        <activity
            android:name=".activity.NotificationAckActivity"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity="" /> <!-- parentActivityName属性是否添加不会影响任务栈 -->
        <activity
            android:name=".activity.NotificationNormalAckActivity"
            android:parentActivityName=".activity.TestNotificationActivity" />
        <activity android:name=".activity.TestNotificationActivity" />

        <service android:name="org.eclipse.paho.android.service.MqttService" />
        <service
            android:name=".service.HelloService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".service.MessengerService"
            android:enabled="true"
            android:exported="true" />

        <provider
            android:name=".provider.CustomContentProvider"
            android:authorities="com.once.test.provider"
            android:enabled="true"
            android:exported="true" />
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.once.test.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <receiver
            android:name=".receiver.BootCompleteReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

</manifest>